* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #031d44;
  width: 450px;
  height: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  padding: 12px;
}

.display {
  background-color: #04395e;
  width: 375px;
  height: 100px;
  outline: 3px solid #70a288;
  border: none;
  border-radius: 8px;
  font-size: 60px;
  color: #dab785;
  font-weight: bold;
  padding: 12px;
  text-align: end;
  letter-spacing: 3px;
}

.btnDiv {
  width: 375px;
  height: 300px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 5px;
}

.btn {
  background-color: #dab785;
  width: 90px;
  height: 60px;
  outline: 3px solid #70a288;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #04395e;
  cursor: pointer;
}
